.header {
  background-color: var(--main-bg-color);
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  fill: var(--second-text-color);
  background-color: transparent;
  border: none;
  padding: 0;

  @media screen and (max-width: 1199px) {
    display: flex;
  }
}

.header__menu-icon {
  fill: var(--second-text-color);
}

.header__btn {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
