:root {
  --main-bg-color: #84a178;
  --text-color: #131313;
  --second-text-color: #fcfcfc;
  --accent-text-color: #f8d24e;
  --second-accent-text-colo: #ababab;
  --third-accent-text-color: #d6936d;

  //   fonts

  --main-font: Montserrat;
  --second-font: Seymour One;
}
