<section class="hero">
  <div class="hero__container container">
    <div class="hero-main">
      <h1 class="hero-main__titel">ice cream made with passion</h1>
      <ul class="hero-main__list">
        <li class="hero-main__link">
          <a class="hero-main__btn">Products</a>
        </li>
        <li class="hero-main__link">
          <a class="hero-main__btn">How it’s made?</a>
        </li>
      </ul>
    </div>
    <div class="hero-aside">
      <ul class="hero-aside__list">
        <li class="hero-asidfe__item">16</li>
        <li class="hero-asidfe__item">cafes</li>
        <li class="hero-asidfe__item">23</li>
        <li class="hero-asidfe__item">food trucks</li>
      </ul>
    </div>
    <div class="hero-undercase">
      <p class="hero-undercase__paragraf">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a class="hero-undercase__arrow" href="">
        <svg class="hero-undercase__icon">
          <use></use>
        </svg>
      </a>
    </div>
  </div>
</section>
